{% extends 'front.html.twig' %}

{% block title %}{{ blogs.name }}{% endblock %}

{% block center %}

    <!-- Page Content -->
    
            <h1 class="my-4">{{ blogs.name }}</h1>
                {% for blog in blogs.pages %}
                <!-- Blog Post -->
                <div class="card mb-4">
                    {# <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> #}
                    <img class="card-img-top" src="{{ vich_uploader_asset(blog, 'imageFile')}}" alt="{{ blog.titre }}" width="750" height:"300" >
                    <div class="card-body">
                        <h2 class="card-title">{{ blog.titre}}</h2>
                        <p class="card-text">{{ blog.introduction|raw}}</p>
                        <a href="{{ path('detail_page', {slug: blog.slug}) }}" class="btn btn-primary">Lire la suite &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Ecrit le {{ blog.createdAt ? blog.createdAt|date('d/m/Y à H:i') : '' }}  par
                        <span class="author">{{ blog.users }}</span>
                    </div>
                </div>
                {% else %}
                    <p class="card-text text-center">Aucun article trouvée sur cette rubrique</p>
                 {% endfor %}
               
                {% if blogs.pages|length > 1 %}
                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Précédent</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Suivant &rarr;</a>
                    </li>
                </ul>
                {% endif %}
{% endblock %}