{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{# this tag only applies to the forms defined in this template #}
{% form_theme formpage 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-12">
             {% if (type_form == 0) %}
                {% set h1 = 'Création' %}
                 {% set name_button = "Créer" %}
            {% else %}
                {% set h1 = 'Edition' %}
                 {% set name_button = "Mettre à jour" %}
            {% endif %}
                <h1 class="my-4">{{ h1 }} des 
                    <small>Pages</small>
                </h1>
                <div class="container-fluid">
                    {{ form_start(formpage)}}
                    <div class="form-horizontal">
                        {{ form_widget(formpage) }}
                        <div class="form-group text-center"><button class="btn btn-success">{{ name_button }}</button></div>
                        <br>
                    </div>
                    {{ form_end(formpage)}}
      
                </div>
                


            </div>

            

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
