{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{# this tag only applies to the forms defined in this template #}
{% form_theme formpage 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
             {% if (type_form == 0) %}
                {% set h1 = 'Création' %}
                 {% set name_button = "Créer" %}
            {% else %}
                {% set h1 = 'Edition' %}
                 {% set name_button = "Mettre à jour" %}
            {% endif %}
                <h1 class="my-4">{{ h1 }} des 
                    <small>Pages</small>
                </h1>
                <div class="container-fluid">
                    {{ form_start(formpage)}}
                    <div class="form-horizontal">
                        {{ form_widget(formpage) }}
                        <div class="form-group text-center"><button class="btn btn-success">{{ name_button }}</button></div>
                        <br>
                    </div>
                    {{ form_end(formpage)}}
      
                </div>
                


            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
