{% extends 'base.html.twig' %}

{% block title %}Admin : Etats{% endblock %}

{% block body %}
<style>
   
    .negatif {background-color:red;}
    .positif {background-color:green;}
    .fond-pair {background-color:#f5f5f5;}
    .fond-impair {background-color:#c0c0c0;}
</style>
<div class="container-fluid">
    <h1>Gestion etats</h1>
<div class="float-right" ><a href="{{ path('etats_new')}}" class="btn btn-sm btn-primary" />Créer</a></div>
    <br/>
    <br/>
  <table class="table table-bordered" id="tbl-etat">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Libellé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat in etats %}
            <tr>
                {# <td>{{ etat.id }}</td> #}
                <th scope="row">{{ loop.index  }}</th>
                <td>{{ etat.libEtat }}</td>
                <td>
                    {# <a href="{{ path('etats_show', {'id': etat.id}) }}">show</a> #}
                    <a href="{{ path('etats_edit', {'id': etat.id}) }}">Editer</a>
                    <a href="{{ path('delete_etats', {'id': etat.id}) }}" onclick="return confirm('Etes-vous sûre de vouloir supprimer cette ligne ?')">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {# {{ include('etats/_delete_form.html.twig') }} #}
{% endblock %}
